body {
    font-family: Calibri, sans-serif;
    background-image: url('puzzle-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #container {
    text-align: center
  }

  table {
    border-collapse: collapse;
    font-size: 2em;
    margin: 0 auto;
    border-color: black;
    color: black;
    /* background-color: rgba(0,0,0,.5); */
  }

  colgroup, 
  tbody {
    border: solid medium;
    border-color: black;
  }

  td {
    border: solid thin;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
    border-color: black;
  }

  button {
    margin-top: 100px;
    margin-top: 15px;
    font-size: 1.5em;
  }

  h1 {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 33px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: black;
    text-decoration:underline;
    /* text-decoration:solid black; */

    
  }
  #solve-button{
    /* border-radius: 2px;
    background-color: greenyellow;
    color: black; */
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
        background-color: #2c974b;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }
    
  }
  #clear-button{
    /* border-radius: 2px;
    background-color: rgb(194, 128, 128);
    color: black; */
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;

  }

  